@{
    var action = ViewContext.RouteData.Values["action"]!.ToString();
}

<nav class="colorlib-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="colorlib-logo"><a href="/">Mitorya</a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class='@(action=="Index" || action==""?"active":"")'><a href="/">Ana Sayfa</a></li>
                        <li class='has-dropdown @(action=="Work"?"active":"")'>
                            <a href="/work">Eserler</a>
                            <ul class="dropdown">                               
                                <li><a href="#">Tuval İşleri</a></li>
                                <li><a href="#">Grafiti İşleri</a></li>
                                <li><a href="#">Tattoo İşleri</a></li>                                
                            </ul>
                        </li>
                        <li class='@(action=="Event"?"active":"")'><a href="/event">Sergi ve Etkinlikler</a></li>
                        <li class='@(action=="Blog"?"active":"")'><a href="/blog">Blog</a></li>
                        <li class='@(action=="About"?"active":"")'><a href="/about">Hakkımda</a></li>
                        <li class='@(action=="Contact"?"active":"")'><a href="/contact">İletişim</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>